doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='../paperDashboardPro/img/apple-icon.png')
    link(rel='icon', type='image/png', sizes='96x96', href='../paperDashboardPro/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title MBAY Health Spa
    
    // Bootstrap core CSS
    link(href='/assets/paperDashboardPro/css/bootstrap.min.css', rel='stylesheet')
    // Paper Dashboard core CSS
    link(href='/assets/paperDashboardPro/css/paper-dashboard.css', rel='stylesheet')
    // CSS for Demo Purpose, don't include it in your project
    link(href='/assets/paperDashboardPro/css/demo.css', rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
    link(href='/assets/paperDashboardPro/css/themify-icons.css', rel='stylesheet')
  body
    .wrapper
      .sidebar(data-active-color='spa', style='color: white')
        //
          Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
          Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        .logo
          a.simple-text.logo-mini(href='http://www.creative-tim.com')
            | CT
          a.simple-text.logo-normal(href='http://www.creative-tim.com')
            | MBAY Health Spa
        .sidebar-wrapper
          .user
            .info
              .photo
                img(src='/assets/paperDashboardPro/img/faces/face-2.jpg')
              a.collapsed(data-toggle='collapse', href='#collapseExample')
                span
                  | Receptionist
              .clearfix
          ul.nav
            li
              a(href='/receptionist/queue')
                i.ti-user
                p
                  | Queue
            li.active
              a(href='/receptionist/reservationList')
                i.ti-calendar
                p
                  | Reservation
            li
              a(href='/receptionist/ongoing')
                i.fa.fa-bed
                p
                  | Ongoing Service
      .main-panel
        nav.navbar.navbar-default
          .container-fluid
            .navbar-minimize
              button#minimizeSidebar.btn.btn-fill.btn-icon
                i.ti-more-alt
            .navbar-header
              button.navbar-toggle(type='button')
                span.sr-only Toggle navigation
                span.icon-bar.bar1
                span.icon-bar.bar2
                span.icon-bar.bar3
              a.navbar-brand(href='#Dashboard')
                | Overview
            .collapse.navbar-collapse
              form.navbar-form.navbar-left.navbar-search-form(role='search')
                .input-group
                  span.input-group-addon
                    i.fa.fa-search
                  input.form-control(type='text', value='', placeholder='Search...')
              ul.nav.navbar-nav.navbar-right
                li
                  a.dropdown-toggle.btn-magnify(href='#stats', data-toggle='dropdown')
                    i.ti-panel
                    p Stats
                li.dropdown
                  a.dropdown-toggle.btn-rotate(href='#notifications', data-toggle='dropdown')
                    i.ti-bell
                    span.notification 5
                    p.hidden-md.hidden-lg
                      | Notifications
                      b.caret
                  ul.dropdown-menu
                    li
                      a(href='#not1') Notification 1
                    li
                      a(href='#not2') Notification 2
                    li
                      a(href='#not3') Notification 3
                    li
                      a(href='#not4') Notification 4
                    li
                      a(href='#another') Another notification
                li
                  a.btn-rotate(href='#settings')
                    i.ti-settings
                    p.hidden-md.hidden-lg
                      | Settings
        .content
          .container-fluid
            .row
              .col-md-12
                .card
                  .row
                    div
                      .card-content
                        center
                          h2 Reservations
                  .content
                    .container-fluid
                      .row
                        .col-md-12
                          p.category  
                          br
                          .card
                            .card-content
                              .toolbar
                                // Here you can write extra buttons/actions for the toolbar
                              .fresh-datatables
                                table#datatables.table.table-no-bordered.table-hover(cellspacing='0', width='100%', style='width:100%')
                                  thead
                                    tr
                                      th.disabled-sorting Name
                                      th.disabled-sorting Gender
                                      th.disabled-sorting Membership Type
                                      th.disabled-sorting Reservation Details
                                      th.disabled-sorting Actions
                                  tfoot
                                    tr
                                      th Name
                                      th Gender
                                      th Membership Type
                                      th Reservation Details
                                      th Actions
                                  tbody
                                    tr
                                      td Caesar Vance
                                      td Male
                                      td Ordinary
                                      td
                                        button.btn.btn-info.btn-fill.btn-wd(data-toggle='modal', data-target='#viewDetails')
                                          span.btn-label
                                            i.fa.fa-eye
                                          |                                                                                 View  Reservation Details
                                      td
                                        a.btn.btn-simple.btn-info.btn-icon.like(href='#', rel='tooltip', title='Proceed To Service')
                                          i.ti-angle-double-right
                                    tr
                                      td Doris Wilder
                                      td Female
                                      td Ordinary
                                      td
                                        button.btn.btn-info.btn-fill.btn-wd(data-toggle='modal', data-target='#viewDetails')
                                          span.btn-label
                                            i.fa.fa-eye
                                          |                                                                                 View  Reservation Details
                                      td
                                        a.btn.btn-simple.btn-info.btn-icon.like(href='#', rel='tooltip', title='Proceed To Service')
                                          i.ti-angle-double-right
                              #viewDetails.modal.fade(tabindex='-1', role='dialog')
                                .modal-dialog.modal-lg(role='document')
                                  .modal-content
                                    .modal-header
                                      h5.modal-title
                                        center Reservation Details
                                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    .modal-body
                                      p reservation details
                                    .modal-footer
                                      // <button type="button" class="btn btn-secondary pull-left btn btn-info btn-fill btn-wd" ></button>
                                      button.btn.btn-secondary.btn.btn-danger.btn-fill.btn-wd(type='button', data-dismiss='modal') Close
                              .row
                                .col-md-6
                                  .card-header
                                  .card-content
                                .col-md-6
                                  .card-header
                                  .card-content
                              .row
                                .col-md-6
                                  .card-header
                                    h4.card-title
                                  .card-content
                                .col-md-6
                                  .card-header
                                  .card-content
                              .card-header
                                h4.card-title
                              .card-content
                                .row
                                  .col-md-12
                                .row
                                  .col-md-12
                                .row
                  footer.footer
                    .container-fluid
                      .copyright.pull-right
                        | © 
                        script.
                          document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by 
                        a(href='http://www.creative-tim.com') TEAM MBAY
              .fixed-plugin
              // Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
              script(src='../paperDashboardPro/js/jquery-3.1.1.min.js', type='text/javascript')
              script(src='../paperDashboardPro/js/jquery-ui.min.js', type='text/javascript')
              script(src='../paperDashboardPro/js/perfect-scrollbar.min.js', type='text/javascript')
              script(src='../paperDashboardPro/js/bootstrap.min.js', type='text/javascript')
              // Forms Validations Plugin
              script(src='../paperDashboardPro/js/jquery.validate.min.js')
              // Promise Library for SweetAlert2 working on IE
              script(src='../paperDashboardPro/js/es6-promise-auto.min.js')
              // Plugin for Date Time Picker and Full Calendar Plugin
              script(src='../paperDashboardPro/js/moment.min.js')
              // Date Time Picker Plugin is included in this js file
              script(src='../paperDashboardPro/js/bootstrap-datetimepicker.js')
              // Select Picker Plugin
              script(src='../paperDashboardPro/js/bootstrap-selectpicker.js')
              // Switch and Tags Input Plugins
              script(src='../paperDashboardPro/js/bootstrap-switch-tags.js')
              // Circle Percentage-chart
              script(src='../paperDashboardPro/js/jquery.easypiechart.min.js')
              // Charts Plugin
              script(src='../paperDashboardPro/js/chartist.min.js')
              // Notifications Plugin
              script(src='../paperDashboardPro/js/bootstrap-notify.js')
              // Sweet Alert 2 plugin
              script(src='../paperDashboardPro/js/sweetalert2.js')
              // Vector Map plugin
              script(src='../paperDashboardPro/js/jquery-jvectormap.js')
              // Google Maps Plugin
              script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAFPQibxeDaLIUHsC6_KqDdFaUdhrbhZ3M')
              // Wizard Plugin
              script(src='../paperDashboardPro/js/jquery.bootstrap.wizard.min.js')
              // Bootstrap Table Plugin
              script(src='../paperDashboardPro/js/bootstrap-table.js')
              // Plugin for DataTables.net
              script(src='../paperDashboardPro/js/jquery.datatables.js')
              // Full Calendar Plugin
              script(src='../paperDashboardPro/js/fullcalendar.min.js')
              // Paper Dashboard PRO Core javascript and methods for Demo purpose
              script(src='../paperDashboardPro/js/paper-dashboard.js')
              // Sharrre Library
              script(src='../paperDashboardPro/js/jquery.sharrre.js')
              // Paper Dashboard PRO DEMO methods, don't include it in your project!
              script(src='../paperDashboardPro/js/demo.js')
              script(type='text/javascript').
                $(document).ready(function(){
                demo.initOverviewDashboard();
                demo.initCirclePercentage();
                });
              script(type='text/javascript').
                $(document).ready(function() {
                $('#datatables').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                responsive: true,
                language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
                }
                });
                });
              script(type='text/javascript').
                $(document).ready(function(){
                demo.initWizard();
                });
